extends layout

block content
    a(href='/') Go back
    h4 Create a new message!
    form(method='POST' action='/new' class='container')
        div(class='row-3 mb-3')
            label(for='name' class='col-2') User name
            input(type='text' id='name' name='user' class='col-3')
        div(class='row-3 mb-3')
            label(for='text' class='col-2') Message text
            input(type='text' id='text' name='text' class='col-3')
        button(type='submit' class='btn btn-primary col-5') Submit